<footer class="border-top footer text-muted bg-dark text-white py-3">
    <div class="container">
        &copy; @DateTime.Now.Year - IT1 Forum - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white">Privacy</a>
    </div>
</footer>

