@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm voz-navbar border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight:900; font-size: 24px;">
            VOZ <span style="color:#d97f09">Clone</span>
        </a>
        </div>
</nav>